APScheduler==3.6.3
cachetools==4.2.2
charset-normalizer==3.4.1
idna==3.10
importlib-metadata==6.7.0
python-telegram-bot==13.7
pytz==2025.1
redis==5.0.8
requests==2.31.0
six==1.17.0
telegram==0.0.1
tornado==6.2
typing_extensions==4.7.1
tzlocal==5.1
urllib3==1.26.18

